[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
wtforms = "*"
mysql-connector-python = "*"
flask-mail = "*"
authlib = "*"
requests = "*"
pyotp = "*"
qrcode = {extras = ["pil"], version = "*"}
flask-limiter = "*"
email-validator = "*"
flask-executor = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.11"
