{% extends 'base.html' %}
{% block title %}Admin - Manage Group groups{% endblock %}

{% block navbar %}
{% include "includes/admin_navbar.html" %}
{% endblock %}

{% block content %}

{% if 'view_error' in session %}
<div class="alert alert-danger alert-dismissible my-1">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Error</strong> Group ID {{ session.pop("view_error", None) }} does not exist
</div>
{% endif %}

<ul class="nav nav-tabs nav-justified py-2">
    <li class="nav-item">
        <a class="nav-link {%if type == 'approved'%}active disabled{%endif%}" href="{{url_for('admin.manage_active_groups')}}">Active Groups</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {%if type == 'pending'%}active disabled{%endif%}" href="{{url_for('admin.manage_group_proposals')}}">Group Proposals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {%if type == 'rejected'%}active disabled{%endif%}" href="{{url_for('admin.manage_reject_groups')}}">Rejected Groups</a>
    </li>
</ul>

<table class="table table-hover table-striped text-center table-bordered mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Topic</th>
            <th>Max Size</th>
            <th>Join Type</th>
            <th>Activity Occurence</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for group in groups %}
        <tr>
            <td>{{ group.get("group_id") }}</td>
            <td>{{ group.get("name") }}</td>
            <td>{{ group.get("topic") }}</td>
            <td>{{ group.get("max_size") }}</td>

            {% if group.get("is_public") == 1 %}
            <td>Public</td>
            {% else %}
            <td>Private</td>
            {% endif %}

            <td>{{ group.get("occurence") }}</td>
            <td><a href="{{ url_for('admin.view_group', id=group.get('group_id')) }}" class="btn btn-info">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}