{% extends 'base.html' %}
{% block title %}Admin - Manage flag groups{% endblock %}

{% block navbar %}
{% include "includes/admin_navbar.html" %}
{% endblock %}

{% block content %}
{% from 'includes/create_modal.html' import create_modal %}
<table class="table table-hover table-striped text-center table-bordered mt-4">
    <thead>
        <tr>
            <th>Flag ID</th>
            <th>Activity</th>
            <th>Group</th>
            <th>Reason</th>
            <th>Reported By</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for flag in flagged_activities %}
        <tr>
            <td>{{ flag.get("flag_id") }}</td>
            <td>{{ flag.get("activity_name") }}</td>
            <td>{{ flag.get("group_name") }}</td>
            <td>{{ flag.get("reason") }}</td>
            <td>{{ flag.get("email") }}</td>
            <td>
                {% if flag.get("status_id") == 1 %} 
                    <span class="badge bg-warning">Pending</span>
                {% elif flag.get("status_id") == 2 %}
                    <span class="badge bg-success">Acknowledged</span>
                {% else %}
                    <span class="badge bg-danger">Denied</span>
                {% endif %}
            </td>

            {% if flag.get("status_id") == 1 %}
            <td>
                
                <form method="POST">
                    {{ form.csrf_token}}
                    <div class="btn-group btn-group-sm">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approve">Acknowledge</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reject">Reject</button>
                    </div>

                    {% call create_modal("approve", "Confirm Approval", "Are you sure you want to acknowledge this activity flag?") %}
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-success" formaction="{{url_for('admin.approve_activity_flag', flag_id=flag.get('flag_id'))}}">Approve</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {% endcall %}

                    {% call create_modal("reject", "Confirm Rejection", "Are you sure you want to reject this activity flag?") %}
                        <button type="submit" data-bs-dismiss="modal" class="btn btn-danger" formaction="{{url_for('admin.reject_activity_flag', flag_id=flag.get('flag_id'))}}">Reject</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {% endcall %}
                </form>
            </td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}