{% extends 'base.html' %}
{% block title %}Admin - View Group Proposal{% endblock %}

{% block navbar %}
{% include "includes/admin_navbar.html" %}
{% endblock %}

{% block content %}
{% from 'includes/create_modal.html' import create_modal %}
<h1 class="display-6">View Group Proposal {{ group.name }}</h1>

<table class="table table-hover table-striped text-center table-bordered my-4">
    <thead>
        <tr>
            <th>Description</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>ID</td>
            <td>{{ group.get("group_id") }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ group.get("name") }}</td>
        </tr>
        <tr>
            <td>Topic</td>
            <td>{{ group.get("topic") }}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{ group.get("description") }}</td>
        </tr>
        <tr>
            <td>Max Size</td>
            <td>{{ group.get("max_size") }}</td>
        </tr>
        <tr>
            <td>Join Type</td>

            {% if group.get("is_public") == 1 %}
            <td>Public</td>
            {% else %}
            <td>Private</td>
            {% endif %}
        </tr>
        <tr>
            <td>Activity Occurence</td>
            <td>{{ group.get("occurence") }}</td>
        </tr>
        <tr>
            <td>Owner Email</td>
            <td>{{ group.get("email") }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ group.get("status") }}</td>
        </tr>
        {% if group.get('status') == 'pending' %}
        <tr>
            <td>Proposal Reason</td>
            <td>{{ group.get("proposal") }}</td>
        </tr>
        {% endif %}
    </tbody>
</table>


<div class="row">
    <div class="col">
        {% if group.get("status") == "pending" %}
        <a href="{{url_for('admin.manage_group_proposals')}}" class="btn btn-secondary">Back</a>
        {% elif group.get("status") == "approved" %}
        <a href="{{url_for('admin.manage_active_groups')}}" class="btn btn-secondary">Back</a>
        {% else %}
        <a href="{{url_for('admin.manage_reject_groups')}}" class="btn btn-secondary">Back</a>
        {% endif %}
    </div>
    {% if group.get('status') == 'pending' %}
    <div class="col justify-content-end d-flex">
        <form method="POST">
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approve">Approve</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reject">Reject</button>

            {% call create_modal("approve", "Confirm Approval", "Are you sure you want to approve this group proposal?") %}
                <button type="submit" data-bs-dismiss="modal" class="btn btn-success" formaction="{{url_for('admin.approve_group_proposal', id=group.get('group_id'))}}">Approve</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {% endcall %}

            {% call create_modal("reject", "Confirm Rejection", "Are you sure you want to reject this group proposal?") %}
                <button type="submit" data-bs-dismiss="modal" class="btn btn-danger" formaction="{{url_for('admin.reject_group_proposal', id=group.get('group_id'))}}">Reject</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            {% endcall %}
        </form>
    </div>
</div>
{% endif %}
{% endblock %}