{% extends "base.html" %}
{% block title %}Create Interest Group Proposal{% endblock %}

{% block links %}
<script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
{% endblock %}

{% block content %}
{% from "includes/form_helper.html" import render_field %}

<h1 class="display-4">Create Interest Group Proposal</h1>

<form method="post" action="">
    <div class="input-group mt-4 mb-4">
        <span class="input-group-text">Group Name</span>
        {{ form.name(class="form-control", placeholder="Enter your proposed group name") }}
    </div>

    <div class="input-group mb-4">
        <span class="input-group-text">Group Topic</span>
        {{ form.topic(class="form-control", placeholder="Enter your proposed group topic") }}
    </div>

    <div class="input-group mb-4">
        <span class="input-group-text">Group Topic</span>
        {{ form.description(class="form-control", placeholder="Enter your proposed group description") }}
    </div>

    <div class="input-group mb-4">
        <span class="input-group-text">Group Topic</span>
        {{ form.activity_occurence(class="form-control", placeholder="State the activity occurence") }}
    </div>

    <div class="input-group mb-4">
        <span class="input-group-text">Elaboration</span>
        {{ form.reason(class="form-control", placeholder="Give an elaboration to why you want to start this interest group") }}
    </div>

    <div class="input-group mb-4">
        <span class="input-group-text">Group Tags</span>
        {{ form.tags(class="form-control", placeholder="Enter relevant group tags") }}
    </div>

    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% endblock %}

{% block scripts %}
<script>
    // Turn the input into a tag editor
    var input = document.querySelector('textarea[name=tags]');
    new Tagify(input);
</script>
{% endblock %}