{% extends "base.html" %}
{% block title %}Website Error{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<h1>{{ main_message }}</h1>
<div class="face">
	<div class="band">
		<div class="red"></div>
		<div class="white"></div>
		<div class="blue"></div>
	</div>
	<div class="eyes"></div>
	<div class="dimples"></div>
	<div class="mouth"></div>
</div>
<div class="mx-auto text-center">

    <h1>Oops! Something went wrong!</h1>
    <a href="" class="btn btn-primary btn-lg btn-block">Return to Home</a>
</div>
{% endblock %}

{% block scripts %}{% endblock %}