{% extends 'base.html' %}
{% block title %}Explore Groups{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/explore_groups.css') }}">
{% endblock %}

{% block navbar %}
<div class="container d-flex justify-content-between align-items-center my-4 background">
    <form class="d-flex w-75">
        <input class="form-control me-2" type="search" placeholder="Search for groups..." aria-label="Search">
    </form>
    <a href="/" class="btn btn-primary">Start your own interest group!</a>
</div>
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4 bg-#A5DEF2 background">
    {% for group in groups %}
    <div class="col">
        <a href="{{ url_for('group_home', group_id=group.id) }}" class="text-decoration-none">
            <div class="card h-100 shadow">
                <img src="{{ url_for('static', filename=group.image) }}" class="card-img-top">
                <div class="card-body">
                    <small>{{ group.category }}</small>
                    <h5>{{ group.name }}</h5>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}